<a href="https://colab.research.google.com/github/salaheddinos/Personal_Projects/blob/main/VaccinationsVsCases.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
data = pd.read_excel("owid-covid-data.xlsx")
df = data.copy()

In [ ]:
df.head()

  iso_code continent  ... human_development_index excess_mortality
0      AFG      Asia  ...                   0.511              NaN
1      AFG      Asia  ...                   0.511              NaN
2      AFG      Asia  ...                   0.511              NaN
3      AFG      Asia  ...                   0.511              NaN
4      AFG      Asia  ...                   0.511              NaN

[5 rows x 60 columns]

In [ ]:
#df['date'] = pd.to_datetime(df['date'])

In [ ]:
new_df = df.drop(df[df['continent'].isnull()].index, axis=0)

In [ ]:
# new_df['new_cases_daily_growth_rate'] = new_df['new_cases'].pct_change(fill_method='ffill') * 100
# new_df['new_deaths_daily_growth_rate'] = new_df['new_deaths'].pct_change(fill_method='ffill') * 100
# pd.set_option('use_inf_as_na', True)

In [ ]:
new_df = new_df[['location', 'date', 'new_cases', 'new_deaths', 'people_fully_vaccinated_per_hundred']] [new_df['date'] > '2021-01-01']

In [ ]:
pd.set_option('display.max_rows', None)
new_df_ = new_df.groupby(['location', new_df['date'].dt.strftime('%Y-%m')])['new_cases', 'new_deaths', 'people_fully_vaccinated_per_hundred'].mean().reset_index()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

In [ ]:
new_df_.rename(columns={"date" : "month", "new_cases" : "avg_monthly_cases", "new_deaths" : "avg_monthly_deaths"}, inplace=True)
# Check shape
new_df_.shape

(1267, 5)

In [ ]:
vaccines_df = pd.read_excel("vaccines_full.xlsx")

In [ ]:
vaccines_df.head()

      location    month  ...  % with CanSino      Vaccines_Used
0  Afghanistan  2020-06  ...             NaN  Sinopharm/Beijing
1  Afghanistan  2020-07  ...             NaN  Sinopharm/Beijing
2  Afghanistan  2020-08  ...             NaN  Sinopharm/Beijing
3  Afghanistan  2020-09  ...             NaN  Sinopharm/Beijing
4  Afghanistan  2020-10  ...             NaN  Sinopharm/Beijing

[5 rows x 14 columns]

In [ ]:
vaccines = vaccines_df.groupby(['Entity'])[vaccines_df.columns[3:]].max().reset_index()

In [ ]:
vaccines['Total'] = vaccines.sum(axis=1)

In [ ]:
def pct_vacc(df):
  for col in df.columns[1:9]:
    df['% with '+col] = round(df[col] / df['Total'] * 100, 2)
  return df

In [ ]:
vaccines = pct_vacc(vaccines)

In [ ]:
vaccines = vaccines.drop(vaccines.columns[1:10], axis=1)

In [ ]:
vaccines.head()

     Entity  % with Pfizer/BioNTech  ...  % with Sinopharm/Beijing  % with CanSino
0   Austria                   71.02  ...                       0.0             0.0
1   Belgium                   69.26  ...                       0.0             0.0
2  Bulgaria                   56.82  ...                       0.0             0.0
3     Chile                   18.06  ...                       0.0             1.0
4   Croatia                   67.41  ...                       0.0             0.0

[5 rows x 9 columns]

In [ ]:
arrays = np.where(vaccines.drop(['Entity'], axis=1)!=0, vaccines.drop(['Entity'], axis=1).columns.values + '-' , None)

In [ ]:
new = []
for array in arrays: 
    new.append(list(filter(None, array)))

In [ ]:
vaccines["Vaccines_Used"] = new

In [ ]:
vaccines["Vaccines_Used"] = [','.join(map(str, l)) for l in vaccines['Vaccines_Used']]

In [ ]:
vaccines['Vaccines_Used'] = vaccines['Vaccines_Used'].str.replace('% with', ' ')

In [ ]:
vaccines_df.rename(columns={"Entity" : "location"}, inplace=True)

In [ ]:
vaccines.head()

   location  ...                                      Vaccines_Used
0   Austria  ...    Pfizer/BioNTech-,  Moderna-,  Oxford/AstraZe...
1   Belgium  ...    Pfizer/BioNTech-,  Moderna-,  Oxford/AstraZe...
2  Bulgaria  ...    Pfizer/BioNTech-,  Moderna-,  Oxford/AstraZe...
3     Chile  ...    Pfizer/BioNTech-,  Oxford/AstraZeneca-,  Sin...
4   Croatia  ...    Pfizer/BioNTech-,  Moderna-,  Oxford/AstraZe...

[5 rows x 10 columns]

In [ ]:
# Join dfs
vaccines_full = pd.merge(new_df_, vaccines_df, on="location", how = "left")

In [ ]:
vaccines_full.head()

      location  month_x  ...  % with CanSino      Vaccines_Used
0  Afghanistan  2021-01  ...             NaN  Sinopharm/Beijing
1  Afghanistan  2021-01  ...             NaN  Sinopharm/Beijing
2  Afghanistan  2021-01  ...             NaN  Sinopharm/Beijing
3  Afghanistan  2021-01  ...             NaN  Sinopharm/Beijing
4  Afghanistan  2021-01  ...             NaN  Sinopharm/Beijing

[5 rows x 18 columns]

In [ ]:
vaccines_full.to_csv("vaccines_2.csv", encoding='utf-8', index=False)

In [ ]:
df = pd.read_excel('vaccines_full.xlsx')

In [ ]:
vaccines_corr = df[(df['people_fully_vaccinated_per_hundred'] > 0) & (df['avg_monthly_cases'] > 0)]

In [ ]:
vaccines_corr.head()

       location  ...                                 Vaccines_Used
11  Afghanistan  ...                             Sinopharm/Beijing
12  Afghanistan  ...                             Sinopharm/Beijing
21      Albania  ...  Pfizer/BioNTech, Oxford/AstraZeneca, Sinovac
24      Albania  ...  Pfizer/BioNTech, Oxford/AstraZeneca, Sinovac
25      Albania  ...  Pfizer/BioNTech, Oxford/AstraZeneca, Sinovac

[5 rows x 14 columns]

In [ ]:
vaccines_grouped = vaccines_corr.groupby('location')[['avg_monthly_cases','people_fully_vaccinated_per_hundred']].corr()

In [ ]:
vaccines_grouped.head()

                                                 avg_monthly_cases  people_fully_vaccinated_per_hundred
location
Afghanistan avg_monthly_cases                             1.000000                             1.000000
            people_fully_vaccinated_per_hundred           1.000000                             1.000000
Albania     avg_monthly_cases                             1.000000                            -0.971815
            people_fully_vaccinated_per_hundred          -0.971815                             1.000000
Andorra     avg_monthly_cases                             1.000000                            -0.832433

In [ ]:
vaccines_df = vaccines_grouped.drop('avg_monthly_cases', axis=1).reset_index()

In [ ]:
vaccines_df.head()

      location  ... people_fully_vaccinated_per_hundred
0  Afghanistan  ...                            1.000000
1  Afghanistan  ...                            1.000000
2      Albania  ...                           -0.971815
3      Albania  ...                            1.000000
4      Andorra  ...                           -0.832433

[5 rows x 3 columns]

In [ ]:
vaccines_df = vaccines_df.drop(vaccines_df[vaccines_df['level_1'] == 'people_fully_vaccinated_per_hundred'].index, axis=0)

In [ ]:
vaccines_df.rename(columns = {"people_fully_vaccinated_per_hundred" : "Correlation b/w Average_monthly_cases & Fully_Vaccinated"}, inplace=True)

In [ ]:
vaccines_df.drop("level_1", axis=1, inplace=True)

In [ ]:
vaccines_df.dropna(inplace=True)

In [ ]:
vaccines_df.shape

(143, 2)

In [ ]:
vaccines_df.head()

              location  Correlation b/w Average_monthly_cases & Fully_Vaccinated
0          Afghanistan                                           1.000000
2              Albania                                          -0.971815
4              Andorra                                          -0.832433
6               Angola                                          -1.000000
8  Antigua and Barbuda                                          -1.000000

In [ ]:
vaccines_full_2 = pd.merge(vaccines_corr, vaccines_df, on="location", how = "left")

In [ ]:
vaccines_full_2.to_csv("vaccine_full_3.csv", encoding='utf-8', index=False)